.card,
.flag,
.oneCard {
  display: flex;
}
.button,
.heading,
.flag {
  text-align: center;
}

.oneCard {
  width: 400px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border: 1px solid #076a63;
  box-shadow: 0 0 7px #292424;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}
.oneCard:hover {
  box-shadow: 0 0 15px #292424;
}
.card {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.button {
  width: 200px;
  margin: auto;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
 
.button:hover,
.cardSingle {
  background-color: #fff;
}
.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.searchupper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchregion {
  display: flex;
  justify-content: space-between;

  margin-left: 0px;
  width: 600px;
}

.filter {
  width: 23%;
  border-radius: 4px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border: 2px solid #ccc;
  padding: 0 10px;
}

.oneCard {
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin-bottom: 30px;
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.flag {
  width: 320px;

  height: "auto";
  border-radius: 5px 5px 0 0;
  margin: 20px auto auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #807272;
}

.text {
  width: 100%;
}

.countryName {
  margin-bottom: 10px;
  font-size: 30px;
}

.text p {
  margin: 5px 0;
  font-size: 1.5rem;
}
.countrycards {
 
  display: flex;
    flex-wrap: wrap;
    
    padding: 20px;
    
    margin: auto;

}

.searchupper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.searchregion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;  
  width: 100%;  
  margin: 0 auto;  
}

.search {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: 0;
}
.label{
  margin-left:5px;
}

.cardSingle {
  max-width: 600px;  
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;  
}

 
 .appli{
  
  width:100%;
  margin: auto;
 }